.picker {
  display: flex;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .picker {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}
