@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.logo,
.heading {
  font-family: "La Belle Aurore", cursive, sans-serif;
}

.logo {
  transform: rotate(-6deg);
  padding-top: 5%;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100vw; */

  overflow: hidden;
}

.section {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161616;
}

.section.section--3 {
  height: 70vh;
}

.section--2 {
  background-color: #fffffd;
}

.content__container {
  width: 100vw;
  max-width: 1160px;
}

.btn {
  width: 100%;
  padding: 5% 0;
  margin: 5% 0;
  border: 2px solid white;
  font-weight: bold;
  letter-spacing: 0.5px;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  color: black;
  background-color: white;
}

input {
  background-color: black;
}
