.nav__logo {
  /* flex-grow: 3; */
  padding: 15% 0 5% 0;
  color: white;
}

.logo {
  font-size: 2em;
  /* background-image: url("../../assets/textbgi.PNG");
  background-size: cover;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

@media screen and (min-width: 1024px) {
  .nav__logo {
    flex-grow: 3;
    padding: 0% 5%;
  }
}
